.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 85px);
    form{
        border-radius: 8px;
        max-width: 300px;
        width: 100%;
    }
}