<!-- <div class="w-full px-4 xs:pt-10">
  <div
    class="flex flex-col ltablet:flex-row ltablet:items-center lg:flex-row lg:items-center w-full ptablet:text-center">
    <div class="w-full ltablet:w-2/5 lg:w-2/5">
      <div class="w-full">
        <h1 class="
              font-sans font-light
              text-5xl
              ltablet:text-5xl
              lg:text-5xl
              leading-none
              mb-2
              text-muted-800
              dark:text-white
            ">
          Hyundai Tucson
        </h1>
        <p class="
              font-sans
              text-lg text-muted-500
              dark:text-muted-400
              max-w-lg
              mx-auto
            ">
          Compact hybrid SUV
        </p>
        <div class="
              font-sans
              text-sm
              mt-4
              mb-6
              max-w-sm
              ptablet:mx-auto
              text-muted-500
              dark:text-muted-400
            ">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utram
            tandem linguam nescio? Vide, quantum, inquam, fallare, Torquate.
            Dic in quovis.
          </p>
        </div>
        <div class="relative w-full max-w-sm ptablet:mx-auto flex">
          <div class="
                flex-1 flex
                items-center
                px-4
                group-hover:opacity-0
                transition-opacity
                duration-300
              ">
            <div class="text-xl">
              <span class="
                    block
                    font-sans font-semibold
                    text-muted-800
                    dark:text-muted-50
                  ">
                4.4
                <small class="font-normal text-muted-500 dark:text-muted-400">
                  s
                </small>
              </span>
              <small class="
                    block
                    font-sans
                    text-sm text-muted-500
                    dark:text-muted-400
                  ">
                0-60mph
              </small>
            </div>
          </div>
          <div class="
                flex-1 flex
                items-center
                px-4
                group-hover:opacity-0
                transition-opacity
                duration-300
              ">
            <div class="text-xl">
              <span class="
                    block
                    font-sans font-semibold
                    text-muted-800
                    dark:text-muted-50
                  ">
                135
                <small class="font-normal text-muted-500 dark:text-muted-400">
                  mph
                </small>
              </span>
              <small class="
                    block
                    font-sans
                    text-sm text-muted-500
                    dark:text-muted-400
                  ">
                Top speed
              </small>
            </div>
          </div>
          <div class="
                flex-1 flex
                items-center
                px-4
                group-hover:opacity-0
                transition-opacity
                duration-300
              ">
            <div class="text-xl">
              <span class="
                    block
                    font-sans font-semibold
                    text-muted-800
                    dark:text-muted-50
                  ">
                389
                <small class="font-normal text-muted-500 dark:text-muted-400">
                  mi
                </small>
              </span>
              <small class="
                    block
                    font-sans
                    text-sm text-muted-500
                    dark:text-muted-400
                  ">
                Autonomy
              </small>
            </div>
          </div>
        </div>
        <div class="hidden ltablet:grid lg:grid grid-cols-2 mt-6">
          <div>
            <ul class="
                  font-sans
                  text-xs
                  space-y-2
                  text-muted-500
                  dark:text-muted-400
                ">
              <li class="flex items-center gap-2">
                <span>Midnight Silver Metallic Paint</span>
              </li>
              <li class="flex items-center gap-2">
                <span>20’’ Überturbine Wheels</span>
              </li>
            </ul>
          </div>
          <div>
            <ul class="
                  font-sans
                  text-xs
                  space-y-2
                  text-muted-500
                  dark:text-muted-400
                ">
              <li class="flex items-center gap-2">
                <span>Performance Upgrade</span>
              </li>
              <li class="flex items-center gap-2">
                <span>Carbon Fiber Spoiler</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full ltablet:w-3/5 lg:w-3/5">
      <img class="block w-full max-w-xl ltablet:max-w-3xl lg:max-w-3xl mx-auto ptablet:mt-8"
        src="https://placehold.co/400x400" alt="Vehicle image">
    </div>
  </div>
</div> -->

<div [class]="isDashboard ? '' : 'container mx-auto pt-[40px]'">
  <div class="flex justify-between car-details-wrapper">
    @if (carDetails?.sale) {
    <nz-ribbon nzText="On Sale" class="sale-ribbon"> </nz-ribbon>
    }
    <div class="flex flex col items-start">
      <div class="w-full">
        <h1
          class="font-sans font-light text-5xl ltablet:text-5xl lg:text-5xl leading-none mb-2 text-muted-800"
        >
          {{ carDetails?.model }}
        </h1>
        <p class="font-sans text-lg text-muted-500">
          {{ carDetails?.year }}-
          <span class="font-semibold">{{
            carDetails?.price | currency : "GBP" : "symbol"
          }}</span>
        </p>
        <div class="font-sans mt-4 mb-6 ptablet:mx-auto text-muted-500">
          <p>
            {{ carDetails?.description }}
          </p>
        </div>

        <div class="container mx-auto mb-3">
          <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4">
            <h5 class="font-sans font-semibold text-muted-500 mb-4">Engine</h5>
            <p nz-typography>{{ carDetails?.engine || "" }}</p>

            <h5 class="font-sans font-semibold text-muted-500 mb-4">
              Transmission
            </h5>
            <p nz-typography>{{ carDetails?.transmission || "" }}</p>

            <h5 class="font-sans font-semibold text-muted-500 mb-4">Mileage</h5>
            <p nz-typography>{{ carDetails?.mileage || "" }}</p>

            <h5 class="font-sans font-semibold text-muted-500 mb-4">
              Fuel Type
            </h5>
            <p nz-typography>{{ carDetails?.fuelType || "" }}</p>

            <h5 class="font-sans font-semibold text-muted-500 mb-4">
              Condition
            </h5>
            <p nz-typography>{{ carDetails?.condition || "" }}</p>

            <h5 class="font-sans font-semibold text-muted-500 mb-4">Color</h5>
            <p nz-typography>{{ carDetails?.color || "" }}</p>

            <h5 class="font-sans font-semibold text-muted-500 mb-4">Doors</h5>
            <p nz-typography>{{ carDetails?.doors || "" }}</p>

            <h5 class="font-sans font-semibold text-muted-500 mb-4">Seats</h5>
            <p nz-typography>{{ carDetails?.seats || "" }}</p>
          </div>

          <h4 nz-typography>Features</h4>
          <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
          >
            @for (item of carDetails?.features; track $index) {
            @if(item?.length) {
            <span nz-typography>{{ item }}</span>
            } }
          </div>
        </div>
        <div class="container mx-auto">
          <div
            class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
          >
            @for (item of carDetails?.images; track $index) {
            <img
              src="{{ item }}"
              alt="{{ item }}"
              class="w-full h-full object-cover"
            />
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
