<!-- <header class="text-gray-600 body-font" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
    <div class="container mx-auto flex flex-wrap justify-between p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <span class="ml-3 text-xl">AR CARZONE</span>
        </a>
        <button nz-button nzType="default" routerLink="/login">
            Login
        </button>
    </div>
</header> -->
<div class="flex align-center justify-center w-full ">
    <form nz-form [formGroup]="validateForm" class="register-form w-full flex flex-col align-center justify-center"
        (ngSubmit)="submitForm()">
        <h1 class="text-center font-bold mb-3 mt-[40px] text-sky-600 text-xl">
            Register
        </h1>
        <p class="mb-3">
            Create an account below!
        </p>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input title">
                <nz-input-group>
                    <input type="text" nz-input formControlName="title" placeholder="Title" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Fullname">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="fullname" placeholder="Fullname" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your email!">
                <nz-input-group nzPrefixIcon="user">
                    <input type="email" nz-input formControlName="email" placeholder="Email" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <button nz-button class="register-form-button register-form-margin" [nzType]="'primary'">Create Account</button>
        <span>Already have an account? Sign in using the link below!</span>
        <a routerLink="/login" class="text-center text-sky-700">Login</a>
    </form>
</div>