.main-section {
  position: relative;
  background: url("../../../assets/images/car-bg.jpg");
  background-size: cover;
  padding: 60px 40px;
  display: flex;
  justify-content: flex-end;
  form {
    width: 300px;
    border-radius: 8px;
  }
}
